<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>User Signup</h1>
    <p>welcome to ecommerce platform, your email is <%= email %></p>
    <header>To active your account press on link below</header>
    <a
      href="http://localhost:4000/reset_password?token=<%= token %>&id=<%= id %>"
      ><%= token %></a
    >
    <img
      src="https://th.bing.com/th/id/OIP.QTH1x_w8RBpAeCzNfHkYYQHaIO?pid=ImgDet&rs=1"
      style="width: 300px; height: 300px"
    />
  </body>
</html>
